.advantage__title {
    margin: 0 0 25px 0;
}

.advantage__subtitle {
    margin: 0 0 35px 0;
}

.advantage__text {
    margin: 0 auto 50px auto;
    max-width: 724px;
    font-size: 18px;
    line-height: 25px;
}

.advantage__row {
    display: flex;
    gap: 50px;
    counter-reset: count 0;
    position: relative;
}

.advantage__row-item {
    flex: 0 0 calc((100% - (50px * 3)) / 4);
}

.advantage__row-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-white, #f9f9f9);
    position: relative;
}

.advantage__row-counter {
    margin: 0 0 16px 0;
    width: 122px;
    height: 122px;
    background-color: var(--highlight-blue, #23c7ec);
    border-radius: 50%;
    position: relative;
}

.advantage__row-counter::after {
    content: counter(count);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    font-size: 52px;
    line-height: 73px;
    text-align: center;
    color: var(--text-white, #ffffff);
    z-index: 3;
    counter-increment: count;
}

.advantage__row-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}

.advantage__false-input {
    display: none;
}

.advantage__slider-prev {
    left: 25px;
}

.advantage__slider-next {
    right: 25px;
}

.advantage__slider-prev, .advantage__slider-next {
    display: none;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    color: #434343;
    background-color: #fff;
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.05);
    transition: color 0.2s ease, background-color 0.2s ease;
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    z-index: 99;
    cursor: pointer;
}

.advantage__slider-prev:hover, .advantage__slider-next:hover {
    color: #fff;
    background-color: #797d8c;
}

#slide-1:checked ~ #first-slide,
#slide-2:checked ~ #second-slide,
#slide-3:checked ~ #third-slide,
#slide-4:checked ~ #forth-slide {
    z-index: 9;
}

@media (max-width:1023px){
    .advantage__title {
        margin: 0 0 23px 0;
    }

    .advantage__subtitle {
        margin: 0 0 33px 0;
    }

    .advantage__text {
        max-width: 620px;
        font-size: 16px;
        line-height: 23px;
    }

    .advantage__row-counter {
        margin: 0 0 26px 0;
        width: 104px;
        height: 104px;
    }

    .advantage__row-text {
        font-size: 18px;
        line-height: 25px;
    }
}

@media (max-width:769px) {
    .advantage {
        padding-bottom:250px;
    }

    .advantage__row {
        display: block;
    }

    .advantage__row-item {
        position: absolute;
        top: 0;
        left: 0;
        height: 180px;
        width: 100%;
    }

    .advantage__row-container {
        z-index: 2;
        margin: 0 -25px;
    }

    .advantage__row-text {
        max-width: 166px;
    }

    .advantage__slider-prev {
        display: flex;
    }
    
    .advantage__slider-next {
        display: flex;
    }
}

@media (max-width:499px) {
    .advantage {
        padding-bottom: 240px;
    }

    .advantage__title {
        margin: 0 0 15px 0;
    }

    .advantage__subtitle {
        margin: 0 0 26px 0;
    }

    .advantage__text {
        margin: 0 auto 40px auto;
        font-size: 12px;
        line-height: 17px;
    }

    .advantage__slider-prev {
        left: 15px;
    }
    
    .advantage__slider-next {
        right: 15px;
    }

    .advantage__row-container {
        margin: 0 -15px;
    }

    .advantage__row-text {
        max-width: 170px;
    }
}